<header class="navbar navbar-static-top bs-docs-nav Alnav" id="top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
        <a href="NewProject" class="navbar-brand">Developer Enablement Framework 2.0</a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li>
            <a href="passwordManagement">Password Management</a>
          </li>
          <li class="dropdown" class="active">
            <a href="javascript:" data-toggle="dropdown">
                          Other
                          <span class="caret"></span>
                      </a>
            <ul class="dropdown-menu">
              <li><a href="NewProject">Build New Project</a></li>
              <li><a href="getJob">Get Jobs</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- Localization -->
          <li>
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                          <span class="language">Admin</span> <span class="caret"></span>
                      </a>
            <ul class="dropdown-menu">
  
              <li data-language="en">
                <a href="login">
                                  Logout
                              </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container fnt">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 well">
            <button class="btn btn-primary" data-toggle="modal" data-target="#usuario"><i class="fa fa-fw -square -circle fa-plus-square"></i> Add System</button>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
  
            <div class="container fnt">
              <div class="col-md-12">
                <div class="row">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Credential ID</th>
                        <th>SSH key</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Secret Text</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
  
                      <tr *ngFor="let datas of cerdentialsData">
                        <td>{{datas.credentialName}}</td>
                        <td>{{datas.sshKey | secretTextMaskPipe}}</td>
                        <td>{{datas.userName}}</td>
                        <!--<td>{{datas.authType}}</td>-->
                        <td>{{datas.password | passwordMaskPipe}}</td>
                        <!--<td>{{datas.sshKey}}</td>-->
                        <td>{{datas.secretKey | secretTextMaskPipe}}</td>
                        <td>
                          <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" id="editPasswordManagement{{$index+1}}" (click)="editRow(datas)"
                              data-title="Edit" data-toggle="modal" data-target="#update-modal-pm"><span class="glyphicon glyphicon-pencil"></span></button></p>
                          <div class="fade modal" id="update-modal-pm">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title">Update</h4>
                                </div>
                                <div class="modal-body">
                                  <form class="form-horizontal">
                                    <fieldset>
                                      <div class="form-group">
                                        <label class="col-md-4 control-label" for="Name">Name</label>
                                        <div class="col-md-5">
                                          <div class="form-group">
                                            <input id="Name" [(ngModel)]="editPMObject.credentialName" #Name="ngModel" name="Name" class="form-control" placeholder="Name"
                                              type="Name" required minlength="5">
                                            <div *ngIf="Name.invalid && (Name.dirty || Name.touched)" class="alert alert-danger">
  
                                              <p *ngIf="Name.errors.required">
                                                Name is required.
                                              </p>
                                              <p *ngIf="Name.errors.minlength">
                                                Name must be at least 5 characters long.
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-md-4 control-label" for="prependedtext">Select Type</label>
                                        <div class="col-md-5">
                                          <div class="form-group">
                                            <select name="authType" class="form-control" [(ngModel)]="editPMObject.type">
                                                        <option value="up">Hostname with Username & Password</option>
                                                        <option value="ups">Hostname with SSH Key</option>
                                                        <option value="upss">Secret Text</option>
                                                      </select>
                                          </div>
                                                                         
                                          <!-- for 1st option -->
                                          <div *ngIf="editPMObject.type === 'up'">
                                            <div class="form-group">
                                              <label for="username">Username</label>
                                              <input id="Username" name="UserName" type="text" class="form-control col-md-3" placeholder="Username" [(ngModel)]="editPMObject.userName"
                                                #Username="ngModel" required minlength="5">
                                              <div *ngIf="Username.invalid && (Username.dirty || Username.touched)" class="alert alert-danger">
  
                                                <p *ngIf="Username.errors.required">
                                                  UserName is required.
                                                </p>
                                                <p *ngIf="Username.errors.minlength">
                                                  UserName must be at least 5 characters long.
                                                </p>
                                              </div>
                                             
                                            </div>
                                         
                                            <div class="form-group">
                                              <div class="row">
                                                <div class="col-md-10">
                                                  <label for="password">Password</label>
                                                  <input type="password" id="credPassword" name="credPassword" class="form-control" [(ngModel)]="editPMObject.password" #credPassword="ngModel" disabled required>
                                                  
                                                  <div *ngIf="credPassword.invalid && (credPassword.dirty || credPassword.touched)" class="alert alert-danger">
    
                                                    <p *ngIf="credPassword.errors.required">
                                                      Password is required.
                                                    </p>
                                                    <p *ngIf="credPassword.errors.minlength">
                                                      Password must be at least 5 characters long.
                                                    </p>
                                                  </div>
                                                </div>
                                              <div class="col-md-2">
                                                  <p class="editicon" data-placement="top" data-toggle="tooltip" title="Edit Password"><button type="button" class="btn btn-primary btn-xs" (click)="editPassword()"><span class="glyphicon glyphicon-pencil"></span></button></p>
                                                </div>
                                              </div>
                                            </div>
  
                                            <div class="form-group" *ngIf="changePassword">
                                              <div class="form-group">
                                                <label for="oldPassword" class="col-sm-3 control-label">Old Password</label>
                                                <div class="col-sm-7">
                                                  <input type="password" id="oldPassword" name="oldPassword" class="form-control" [(ngModel)]="verifyPassword.oldPassword" #oldPassword="ngModel"
                                                    required>
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                <label for="newPassword" class="col-sm-3 control-label">New Password</label>
                                                <div class="col-sm-7">
                                                  <input type="password" id="newPassword" name="newPassword" class="form-control" [(ngModel)]="verifyPassword.newPassword" #newPassword="ngModel"
                                                    required>
                                                </div>
                                              </div>
                                              <div class="col-sm-10">
                                                <div>
                                                  <button type="button" class="btn btn-success pull-right" (click)="verifyChangePassword()">Change Password</button>
                                                </div>
                                                <div>
                                                  <button type="button" class="btn btn-default pull-right" (click)="cancelChangePassword()">Cancel</button>
                                                </div>
                                              </div>
                                            </div>
  
                                          </div>
  
  
                                          <!-- for 2nd option -->
                                          <div *ngIf="editPMObject.type === 'ups'">
                                            <div class="form-group">
                                              <label for="sshKEY"></label>
                                              <textarea rows="4" cols="50" id="sshKEY" name="sshKEY" type="text" class="form-control" placeholder="Enter SSH Key" [(ngModel)]="editPMObject.sshKey"
                                                #sshKEY="ngModel" required> </textarea>
                                              <div *ngIf="sshKEY.invalid && (sshKEY.dirty || sshKEY.touched)" class="alert alert-danger">
  
                                                <p *ngIf="sshKEY.errors.required">
                                                  ssh Key is required.
                                                </p>
                                              </div>
                                            </div>
                                          </div>
                                          <!-- for 3rd option -->
                                          <div *ngIf="editPMObject.type === 'upss'">
                                            <div class="form-group">
                                                <label for="secretText"></label>
                                              <input type="password" id="secretText" name="secretText" class="form-control" [(ngModel)]="editPMObject.secretKey" id="comment"
                                                #secretText="ngModel" required plaseholder="Bash">
                                              <div *ngIf="secretText.invalid && (secretText.dirty || secretText.touched)" class="alert alert-danger">
  
                                                <p *ngIf="secretText.errors.required">
                                                  Secret Text is required.
                                                </p>
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                    </div>
                                    </fieldset>
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-success" data-dismiss="modal" (click)="updateCredentials(editPMObject, editPMObject.credentialName)">Save changes</button>
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete-modal-pm"
                              (click)="confirmDelete(datas.credentialName)"><span class="glyphicon glyphicon-trash"></span></button></p>
  
                          <div class="modal modal-danger fade" id="delete-modal-pm">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title">Delete Credential</h4>
                                </div>
                                <div class="modal-body">
                                  <p>Are you sure you want to permanently delete {{deleteItem}} ?</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">No, Cancel</button>
                                  <button type="button" class="btn btn-outline" (click)="deleteCredential(deleteItem)" data-dismiss="modal">Yes, Delete</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
  
                </div>
              </div>
            </div>
  
  
            <!--
            <table id="mytable" class="table table-bordred table-striped">
  
              <thead>
  
                <th>Name</th>
                <th>SSH key</th>
                <th>Username</th>
                <th>Password</th>
                <th>Secrete Text</th>
                <th>Edit</th>
  
                <th>Delete</th>
              </thead>
              <tbody>
  
                <tr>
                  <td>Mohsin</td>
                  <td>Irshad</td>
                  <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                  <td>isometric.mohsin@gmail.com</td>
                  <td>+923335586757</td>
                  <td>
                    <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>
                  </td>
                  <td>
                    <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                  </td>
                </tr>
  
                <tr>
                  <td>Mohsin</td>
                  <td>Irshad</td>
                  <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                  <td>isometric.mohsin@gmail.com</td>
                  <td>+923335586757</td>
                  <td>
                    <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>
                  </td>
                  <td>
                    <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                  </td>
                </tr>
  
  
                <tr>
                  <td>Mohsin</td>
                  <td>Irshad</td>
                  <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                  <td>isometric.mohsin@gmail.com</td>
                  <td>+923335586757</td>
                  <td>
                    <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>
                  </td>
                  <td>
                    <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                  </td>
                </tr>
  
  
  
                <tr>
                  <td>Mohsin</td>
                  <td>Irshad</td>
                  <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                  <td>isometric.mohsin@gmail.com</td>
                  <td>+923335586757</td>
                  <td>
                    <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>
                  </td>
                  <td>
                    <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                  </td>
                </tr>
  
  
                <tr>
                  <td>Mohsin</td>
                  <td>Irshad</td>
                  <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                  <td>isometric.mohsin@gmail.com</td>
                  <td>+923335586757</td>
                  <td>
                    <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>
                  </td>
                  <td>
                    <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                  </td>
                </tr>
  
  
  
  
  
              </tbody>
  
            </table>
  -->
          </div>
        </div>
      </div>
    </div>
    <div class="fade modal" id="usuario">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h2 class="modal-title" id="myModalLabel">Manage Password</h2>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <fieldset>
                <!-- Form Name -->
                <!-- Prepended text-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="Name">Name</label>
                  <div class="col-md-5">
                    <div class="form-group">
                      <input id="Name" [(ngModel)]="PasswordManagement.credentialName" #Name="ngModel" name="Name" class="form-control" placeholder="Name"
                        type="Name" required minlength="5">
                      <div *ngIf="Name.invalid && (Name.dirty || Name.touched)" class="alert alert-danger">
  
                        <p *ngIf="Name.errors.required">
                          Name is required.
                        </p>
                        <p *ngIf="Name.errors.minlength">
                          Name must be at least 5 characters long.
                        </p>
                      </div>
                    </div>
  
                  </div>
  
  
  
                </div>
  
                <div class="form-group">
                  <label class="col-md-4 control-label" for="prependedtext">Select Type</label>
                  <div class="col-md-5">
                    <div class="form-group">
                      <select name="authType" class="form-control" [(ngModel)]="PasswordManagement.type">
                                        <option value="up">Hostname with Username & Password</option>
                                        <option value="ups">Hostname with SSH Key</option>
                                        <option value="upss">Secret Text</option>
                                      </select>
                    </div>
                    <!-- for 1st option -->
                    <div *ngIf="PasswordManagement.type === 'up'">
                      <div class="form-group">
                        <label for="username"></label>
                        <input id="Username" name="UserName" type="text" class="form-control" placeholder="Username" [(ngModel)]="PasswordManagement.userName"
                          #Username="ngModel" required minlength="5">
                        <div *ngIf="Username.invalid && (Username.dirty || Username.touched)" class="alert alert-danger">
  
                          <p *ngIf="Username.errors.required">
                            UserName is required.
                          </p>
                          <p *ngIf="Username.errors.minlength">
                            UserName must be at least 5 characters long.
                          </p>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="password"></label>
                        <input id="Password" name="Password" type="password" class="form-control" placeholder="Password" [(ngModel)]="PasswordManagement.password"
                          #Password="ngModel" required minlength="8">
  
                      </div>
                      <div *ngIf="Password.invalid && (Password.dirty || Password.touched)" class="alert alert-danger">
  
                        <p *ngIf="Password.errors.required">
                          Password is required.
                        </p>
                        <p *ngIf="Password.errors.minlength">
                          Password must be at least 5 characters long.
                        </p>
                      </div>
                    </div>
                    <!-- for 2nd option -->
                    <div *ngIf="PasswordManagement.type === 'ups'">
                      <div class="form-group">
                        <label for="username"></label>
                        <textarea rows="4" cols="50" id="sshKEY" name="sshKEY" type="text" class="form-control" placeholder="Enter SSH Key" [(ngModel)]="PasswordManagement.sshKey"
                          #sshKEY="ngModel" required> </textarea>
                        <div *ngIf="sshKEY.invalid && (sshKEY.dirty || sshKEY.touched)" class="alert alert-danger">
  
                          <p *ngIf="sshKEY.errors.required">
                            ssh Key is required.
                          </p>
                        </div>
                      </div>
  
                      <!--<div class="form-group">
                      <label for="hostName"></label>
                      <input id="hostName" name="hostName" type="text" class="form-control" placeholder="Enter Host Name" [(ngModel)]="PasswordManagement.hostName" #hostName="ngModel" required >
                      <div *ngIf="hostName.invalid && (hostName.dirty || hostName.touched)"
                        class="alert alert-danger">
  
                        <p *ngIf="hostName.errors.required">
                        Host Name is required.
                        </p>
                        </div>
                    </div>-->
  
                    </div>
                    <!--for option 3-->
                    <div *ngIf="PasswordManagement.type === 'upss'">
                      <!-- <div class="col-md-12">-->
                      <div class="form-group">
                        <input id="secretText" name="secretText" class="form-control" placeholder="Enter Secret Text" [(ngModel)]="PasswordManagement.secretKey" id="secretText" #secretText="ngModel" required>
                        <div *ngIf="secretText.invalid && (secretText.dirty || secretText.touched)" class="alert alert-danger">
  
                          <p *ngIf="secretText.errors.required">
                            Secret Text is required.
                          </p>
                        </div>
                      </div>
                      <!-- </div>-->
                      <!--<div class="form-group">
                      <label for="username"></label>
                      <textarea type="text" class="form-control" placeholder="Enter Secret Text" [(ngModel)]="Newproject.Concourse.ConcourseUsername">
                    </div>-->
                    </div>
                  </div>
                </div>
                <!--<div *ngIf="PasswordManagement.type == 'concourse'">-->
  
                <!-- Prepended text-->
                <!-- <div class="form-group" *ngIf = 'PasswordManagement.authType == up'>
                  <label class="col-md-4 control-label" for="Username">Username</label>
                  <div class="col-md-5">
                    <div class="form-group">
                      <input id="Username" [(ngModel)]="PasswordManagement.username" name="Username" class="form-control" placeholder="Username" type="Username" required="">
                    </div>
                  </div>
                </div>
                <!-- Appended Input-->
                <!--<div class="form-group" *ngIf = 'PasswordManagement.authType == up'>
                  <label class="col-md-4 control-label" for="Password">Password</label>
                  <div class="col-md-5">
                    <div class="form-group">
                      <input id="Password" [(ngModel)]="PasswordManagement.password" name="Password" class="form-control" placeholder="Password" type="Password" required="">
                    </div>
                  </div>
                </div>-->
                <!-- Select Basic -->
                <!-- <div class="form-group" *ngIf = 'PasswordManagement.authType == ups'>
                  <label class="col-md-4 control-label" for="SSH Key">SSH Key</label>
                  <div class="col-md-5">
                    <div class="form-group">
                      <textarea class="form-control" [(ngModel)]="PasswordManagement.sshKey" placeholder="SSH Key" name="sshKey" rows="4"></textarea>
                    </div>
                  </div>
                </div>-->
                <!-- <div class="form-group" *ngIf = 'PasswordManagement.authType == upss'>
                  <label class="col-md-4 control-label" for="Secrete Text">Secrete Text</label>
                  <div class="col-md-5">
                    <div class="form-group">
                      <input name="secretText" id="Secrete Text" name="Secrete Text" [(ngModel)]="PasswordManagement.secretKey" class="form-control" placeholder="Secrete Text" type="Secrete Text" required="">
                    </div>
                  </div>
                </div>-->
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="save(PasswordManagement)" data-dismiss="modal">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  
  
  </div>