<!-- <div class="project-category-tile col-md-3">
                            <img class="category-icon" width="114px" src="/software/images/icons/deployment.svg" onerror="this.onerror=null; this.src=/software/images/icons/deployment.png" alt="OpenStack Cloud Software">
                            <h4>Deployment Tools</h4>
                            <p class="number-of-projects">
                                6 OpenStack Projects
                            </p>
                        </div> -->
<div class="container fnt">
  <div class="row rw form-group">
    <h1 class="head">Choose your Flavor</h1>
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <h4>Ubuntu</h4>
      <input
        type="radio" name="os"
        id="ubuntu" class="input-hidden" value="ubuntu" [(ngModel)]="config.os" />
      <label for="ubuntu">
    <div class="icon"><i class="fa fa-linux iconcol" aria-hidden="true"></i></div>
  </label>
    </div>
    <div class="col-md-2">
      <h4>CentOS</h4>
      <input
        type="radio" name="os"
        id="centos" class="input-hidden" value="centos" [(ngModel)]="config.os"  />
      <label for="centos">
      <div class="icon"><i class="fa fa-linux iconcol" aria-hidden="true"></i></div>
    </label>
    </div>
    <div class="col-md-2">
        <h4>Debian</h4>
        <input
          type="radio" name="os"
          id="debian" class="input-hidden" value="debian" [(ngModel)]="config.os"  />
        <label for="debian">
    <div class="icon"><i class="fa fa-linux iconcol" aria-hidden="true"></i></div>
  </label>
    </div>
    <div class="col-md-2">
        <h4>Arch Linux</h4>
        <input
          type="radio" name="os"
          id="arch" class="input-hidden" value="arch" [(ngModel)]="config.os"  />
        <label for="arch">
    <div class="icon"><i class="fa fa-linux iconcol" aria-hidden="true"></i></div>
  </label>
    </div>
    <div class="col-md-2">
      <h4>Fedora</h4>
      <input
        type="radio" name="os"
        id="fedora" class="input-hidden" value="fedora" [(ngModel)]="config.os"  />
      <label for="fedora">
      <div class="icon"><i class="fa fa-linux iconcol" aria-hidden="true"></i></div>
    </label>
    </div>
      <div class="col-md-1"></div>
  </div>
  <div class="row rw">
    <h1 class="head">Choose your Image</h1>
      <div class="col-md-3">
        <input
          type="radio" name="flavor"
          id="flav1" class="input-hidden" value="Ubuntu 14.04 LTS" [(ngModel)]="config.flavor"  />
        <label for="flav1">
        <div class="btn btn-p">Ubuntu 14.04 LTS</div>
      </label>
      </div>
      <div class="col-md-3">
        <input
          type="radio" name="flavor"
          id="flav2" class="input-hidden" value="Ubuntu 14.04.1 LTS" [(ngModel)]="config.flavor"  />
        <label for="flav2">
          <div class="btn btn-p">Ubuntu 14.04.1 LTS</div>
        </label>
      </div>
      <div class="col-md-3">
        <input
          type="radio" name="flavor"
          id="flav3" class="input-hidden" value="Ubuntu 14.04.2 LTS" [(ngModel)]="config.flavor"  />
        <label for="flav3">
          <div class="btn btn-p">Ubuntu 14.04.2 LTS</div>
        </label>
      </div>
      <div class="col-md-3">
        <input
          type="radio" name="flavor"
          id="flav4" class="input-hidden" value="Ubuntu 14.04.3 LTS" [(ngModel)]="config.flavor"  />
        <label for="flav4">
          <div class="btn btn-p">Ubuntu 14.04.3 LTS</div>
        </label>
        </div>
  </div>
  <div class="row rw">
      <div class="col-md-3">
        <input
          type="radio" name="flavor"
          id="flav5" class="input-hidden" value="Ubuntu 14.04.4 LTS" [(ngModel)]="config.flavor"  />
        <label for="flav5">
        <div class="btn btn-p">Ubuntu 14.04.4 LTS</div>
      </label>
      </div>
      <div class="col-md-3">
        <input
          type="radio" name="flavor"
          id="flav6" class="input-hidden" value="Ubuntu 14.04.5 LTS" [(ngModel)]="config.flavor"  />
        <label for="flav6">
          <div class="btn btn-p">Ubuntu 14.04.5 LTS</div>
        </label>
      </div>
      <div class="col-md-3">
        <input
          type="radio" name="flavor"
          id="flav7" class="input-hidden" value="Ubuntu 16.04 LTS" [(ngModel)]="config.flavor"  />
        <label for="flav7">
          <div class="btn btn-p">Ubuntu 16.04 LTS</div>
        </label>
      </div>
      <div class="col-md-3">
        <input
          type="radio" name="flavor"
          id="flav8" class="input-hidden" value="Ubuntu 16.04.1 LTS" [(ngModel)]="config.flavor"  />
        <label for="flav8">
          <div class="btn btn-p">Ubuntu 16.04.1 LTS</div>
        </label>
        </div>
  </div>
  <div class="row rw">
      <div class="col-md-3">
        <input
          type="radio" name="flavor"
          id="flav9" class="input-hidden" value="Ubuntu 16.04.2 LTS" [(ngModel)]="config.flavor"  />
        <label for="flav9">
        <div class="btn btn-p">Ubuntu 16.04.2 LTS</div>
      </label>
      </div>
      <div class="col-md-3">
        <input
          type="radio" name="flavor"
          id="flav10" class="input-hidden" value="Ubuntu 16.10" [(ngModel)]="config.flavor"  />
        <label for="flav10">
          <div class="btn btn-p">Ubuntu 16.10</div>
        </label>
      </div>
      <div class="col-md-3">
        <input
          type="radio" name="flavor"
          id="flav11" class="input-hidden" value="Ubuntu 17.04" [(ngModel)]="config.flavor"  />
        <label for="flav11">
          <div class="btn btn-p">Ubuntu 17.04</div>
        </label>
      </div>
      <div class="col-md-3">
        <input
          type="radio" name="flavor"
          id="flav12" class="input-hidden" value="Ubuntu 17.10" [(ngModel)]="config.flavor" disabled="true" />
        <label for="flav12">
          <div class="btn btn-p">Ubuntu 17.10</div>
        </label>
        </div>
  </div>
  <div class="row rw">
    <h1 class="head">Choose your Size</h1>
    <div class="col-md-3">
      <input
        type="radio" name="memory"
        id="Mem" class="input-hidden" value="512mb" [(ngModel)]="config.memory" />
      <label for="Mem">
        <div class="panel panel-info">
      <div class="panel-heading">
          <h3 class="panel-title">512 MB</h3>
      </div>
    </div>
      </label>
    </div>
    <div class="col-md-3">
      <input
        type="radio" name="memory"
        id="Mem2" class="input-hidden" value="1gb" [(ngModel)]="config.memory"/>
      <label for="Mem2">
        <div class="panel panel-info">
      <div class="panel-heading">
          <h3 class="panel-title">1 GB</h3>
      </div>
    </div>
      </label>
    </div>
    <div class="col-md-3">
      <input
        type="radio" name="memory"
        id="Mem3" class="input-hidden" value="1.5gb" [(ngModel)]="config.memory" />
      <label for="Mem3">
        <div class="panel panel-info">
      <div class="panel-heading">
          <h3 class="panel-title">1.5 GB</h3>
      </div>
    </div>
      </label>
    </div>
    <div class="col-md-3">
      <input
        type="radio" name="memory"
        id="Mem4" class="input-hidden" value="2gb" [(ngModel)]="config.memory" />
      <label for="Mem4">
        <div class="panel panel-info">
      <div class="panel-heading">
          <h3 class="panel-title">2 GB</h3>
      </div>
    </div>
      </label>
    </div>
  </div>
<p>{{config | json}}</p>
</div>
