.fnt {
  margin-top: 5%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.Alnav{
  background-color: whitesmoke;
}
a{
  color: black;
}
.editicon{
  padding-top:25px;
}
.button-pad{
  padding-left: 10px;
}
