<div class="container fnt cnt">
  <!-- <div class="row">
    <div class="col-md-12">
      <h4></h4>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="panel pri">
        <div class="panel-heading panel-pri2">
          <h1 class="panel-title">Start Building your New Project</h1>
        </div>
        <div class="panel-body panel-pri"><a href="NewProject" class="btn btn-default">Build New</a></div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12"></div>
  </div> -->
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading panel-pri2">
          <h1 class="panel-title">OMG! you have Existing Project</h1>
        </div>
        <div class="panel-body panel-pri"><a href="scm" class="btn btn-default">Lets Go</a></div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading panel-pri2">
          <h1 class="panel-title">Inhouse</h1>
        </div>
        <div class="panel-body panel-pri"><a href="config" class="btn btn-default">Config</a></div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
