<div class="container fnt">
<div id="content">
  <!-- Icons source http://dribbble.com/shots/913555-Flat-Web-Elements -->
  <div class="notify successbox">
    <h1>Failure!</h1>
    <span class="alerticon"><img src="/assets/images/Sign-Error-icon.png" alt="checkmark" width="40" height="40"/></span>
    <p>Project Build failed, to view your project Check your logs and Email for Additional Information</p>
    <a href="project" class="btn btn-primary">Build New</a>
    <a href="getJob" class="btn btn-primary">Get Job</a>
  </div>
</div>
</div>
