<div class="container fnt cnt">
  <div class="island">
    <h1>Where to?</h1>
    <ul class="tiles">
        <li id="tile-1">
            <a href="NewProject" class="tile-1">
                <div class="tile-icon"></div>
            </a>
            New Project
        </li>
        <!-- <li id="tile-2">
            <a href="scm" class="tile-2">
                <div class="tile-icon"></div>
            </a>
            Existing Project
        </li> -->
        <!-- <li id="tile-3">
            <a href="chome" class="tile-3">
                <div class="tile-icon"></div>
            </a>
            Config Network
        </li> -->
        <li id="tile-3">
            <a href="getJob" class="tile-3">
                <div class="tile-icon"></div>
            </a>
            Get Jobs
        </li>
        <li id="tile-4">
            <a href="passwordManagement" class="tile-4">
                <div class="tile-icon"></div>
            </a>
            Manage Password
        </li>
    </ul>
</div>

</div>
