<div class="container cnt">
  <div class="island">
    <h1>Welcome!</h1>
    <div class="island-content">
      <form>
        <input name="username" type="text" placeholder="Email" class="form-control">
        <input name="password" type="password" placeholder="Password" class="form-control">
        <a href="project" class="btn btn-primary btalt">Login</a>
      </form>
      <div class="saml-login">
      </div>
      <span class="left">
            <a href="login" class="link-lowlight">Create account</a>
        </span><span class="right">
            <a href="login" class="link-lowlight">Reset password</a>
        </span>

    </div>
  </div>
</div>
