<div class="container top">
  <div class="row">
    <div class="container fnt">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2>Continuous Delivery for every team</h2>
        <p class="lit">DEF 2.0 puts Continuous Delivery in reach of any team without sacrificing the power and sophistication of Jenkins and Concourse.</p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="row">
    <div class="container fnt">
      <div class="row">
        <div class="col-md-4">
          <div class="icon"><i class="fa fa-code iconcol" aria-hidden="true"></i></div>
          <h3>Code</h3>
          <p class="lit">Run the pipeline for every feature branch and pull request.</p>
        </div>
        <div class="col-md-4">
          <div class="icon"><i class="fa fa-github iconcol" aria-hidden="true"></i></div>
          <h3>Github & Git</h3>
          <p class="lit">Run the pipeline for every feature branch and pull request.</p>
        </div>
        <div class="col-md-4">
          <div class="icon"><i class="fa fa-eye iconcol" aria-hidden="true"></i></div>
          <h3>Pipeline visualization</h3>
          <p class="lit">Run the pipeline for every feature branch and pull request.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="icon"><i class="fa fa-list iconcol" aria-hidden="true"></i></div>
          <h3>External Services</h3>
          <p class="lit">Integrate with dozens of external services such as JIRA, Slack, Asana and more.</p>
        </div>
        <div class="col-md-4">
          <div class="icon"><i class="fa fa-desktop iconcol" aria-hidden="true"></i></div>
          <h3>Monitoring</h3>
          <p class="lit">Run the pipeline for every feature branch and pull request.</p>
        </div>
        <div class="col-md-4">
          <div class="icon"><i class="fa fa-cloud iconcol" aria-hidden="true"></i></div>
          <h3>Deploy to Cloud</h3>
          <p class="lit">Run the pipeline for every feature branch and pull request.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container fnt">
      <div class="col-md-4"></div>
      <div class="col-md-4"><a class="btn btn-secondary" href="project">
Get Started
</a></div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
